/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor tex-decoration
 */

a {
	text-decoration: none;
}

/**
 * Remove list-style
 */

ol,
ul {
	list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
	font-size: 1em;
	font-weight: normal;
}

/* Estilos Gerais */

* {
	box-sizing: border-box;
}

body {
	font-family: "OpenSans-regular";
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 80%;
	height: auto;
	margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
	content: ' ';
	display: table;
}

.clearfix::after {
	clear: both;
}

.btn {
	display: block;
	font-family: "OpenSansCondensed-bold";
	color: #fff;
	background: #00A155;
	text-align: center;
	text-transform: uppercase;
	width: 140px;
	padding: 10px;
	margin-top: 20px;
	letter-spacing: 1px;
	line-height: 1rem;
	box-shadow: 2px 2px 5px #1c1c1c;
	border: none;
}

.btn:hover {
	background: #DD2A4E;
	transition: .2s background ease-in;
}

.btn-yellow {
	margin-top: 30px;
	box-shadow: none;
	color: #FBC24F;
	background: none;
	border: 4px solid #FBC24F;
	text-transform: uppercase;
}

.btn-yellow:hover {
	border-color: #FFF;
	background: none;
	color: #FFF;
	transition: .2s all ease-in;
}

.btn-buy {
	display: block;
	background: #00A155;
	width: 100px;
	margin: 10px auto 0 auto;
	padding: 3px;
	border-radius: 3px;
	color: #FFF;
	font-size: .9rem;
	letter-spacing: 1px;
}

.btn-buy:hover {
	background: #0E794E;
	transition: .2s all ease-in;
}

.title {
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
	font-family: "OpenSansCondensed-bold";
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #C9BFBE;
}

.title::before,
.title::after {
	content: "";
	display: block;
	width: 60px;
	height: 5px;
	background: #C9BFBE;
	margin: 0 auto;
}

.title.red {
	color: #76101E;
}

.title.red::before,
.title.red::after {
	background: #76101E;
}

.secondary-title {
	max-width: 205px;
	margin-bottom: 20px;
	text-align: left;
	font-family: "OpenSansCondensed-bold";
	color: #00A155;
	font-size: 1.7rem;
	letter-spacing: 1px;
	background: url(../img/icon/money.png) no-repeat right;
	background-size: 32px;
}

.tertiary-title {
	margin-top: 60px;
	font-family: "OpenSansCondensed-bold";
	font-size: 1.7rem;
	color: #1C1C1C;
	letter-spacing: 1px;
	text-align: center;
}

.text {
	color: #C9BFBE;
	font-family: "OpenSans-regular";
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

@font-face {
	font-family: "OpenSans-regular";
	src: url("../fonts/OpenSans-Regular.ttf"),
		url("../fonts/OpenSans-Regular.woff"),
		url("../fonts/OpenSans-Regular.woff2");
}

@font-face {
	font-family: "OpenSansCondensed";
	src: url("../fonts/OpenSansCondensed-Light.ttf"),
		url("../fonts/OpenSansCondensed-Light.woff"),
		url("../fonts/OpenSansCondensed-Light.woff2");
}

@font-face {
	font-family: "OpenSansCondensed-bold";
	src: url("../fonts/OpenSansCondensed-Bold.ttf"),
		url("../fonts/OpenSansCondensed-Bold.woff"),
		url("../fonts/OpenSansCondensed-Bold.woff2");
}

/* Fim dos estilos gerais */

/* Header */

.menu-logo {
	max-width: 300px;
	margin: 0 auto 20px auto;
}

.menu-logo img {
	width: 80px;
	height: auto;
	margin: 0 auto;
}

.menu-logo h1 {
	text-align: center;
}

.menu-logo h1 img {
	width: 180px;
	margin-top: 10px;
}

.nav-bar {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	border-top: 2px solid rgba(0, 0, 0, .3);
	border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.nav-bar ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav-bar ul li {
	display: inline-block;
	padding: 10px;
	margin-top: 5px;
}

.nav-bar a {
	color: #1c1c1c;
	font-family: "OpenSansCondensed-bold";
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.2rem;
	padding: 1rem;
}

.nav-bar a:hover {
	background: #00A155;
	color: #FFF;
	transition: .2s all ease-in;
}

header.bg {
	width: 100%;
	height: auto;
	background: url(../img/intro-bg.jpg) no-repeat top;
	background-size: cover;
	text-align: center;
	padding-top: 20px;
}

.intro {
	margin-top: 100px;
	padding-bottom: 60px;
	text-align: left;
}

.intro h1 {
	font-family: "OpenSansCondensed-bold";
	font-size: 2.5rem;
	color: #1c1c1c;
	max-width: 500px;
}

label[for="menu-mobile"] {
	position: absolute;
	display: none;
	top: 20px;
	right: 20px;
	padding: 5px;
	background: #1C1C1C;
	color: #FFF;
	font-size: 30px;
	cursor: pointer;
	text-align: center;
	width: 50px;
	height: 50px;
}

#menu-mobile {
	display: none;
}

/* Fim do Header */

/* Sobre */

.about {
	background: #76101E;
	padding: 60px 0;
	width: 100%;
}

.content {
	margin-top: 60px;
	width: 45%;
	float: left;
}

.ilustration {
	margin-top: 60px;
	width: 45%;
	float: right;
	text-align: right;
}

.ilustration img {
	width: 100%;
	height: auto;
	border: 5px solid #C9BFBE;
}

/* Fim do Sobre */

/* Produtos */

.products {
	background: #FFF;
	padding: 60px 0;
	width: 100%;
}

.presentation p {
	color: #9C9C9D;
	text-align: center;
	margin-top: 10px;
	letter-spacing: 1px;
}

.grid {
	width: 30%;
	height: auto;
	float: left;
	margin: 60px 1.625%;
	text-align: center;
}

.grid img {
	margin: 0 auto 5px auto;
}

.grid h3 {
	font-family: "OpenSansCondensed-bold";
	font-size: 1rem;
	color: #00A155;
	letter-spacing: 1px;
	line-height: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
	width: 200px;
	height: 40px;
	text-align: center;
}

.grid p {
	font-size: .9rem;
	font-weight: bold;
	color: #1C1C1C;
}

/* Fim dos Produtos */

/* Contato */
.contact-us {
	background: #1C1C1C;
	padding: 60px 0;
	width: 100%;
}

.form-content {
	width: 50%;
	margin-top: 60px;
	float: left;
}

.form-content label,
.form-content input,
.form-content textarea {
	display: block;
}

.form-content label {
	margin-bottom: 8px;
	color: #C9BFBE;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 24px;
}

.form-content input {
	border: 3px solid #C9BFBE;
	border-radius: 3px;
	font-family: "OpenSans-regular";
	color: #C9BFBE;
	padding: 8px;
	margin-bottom: 15px;
	width: 80%;
	background: none;
	outline: none;
}

.form-content textarea {
	border: 3px solid #C9BFBE;
	border-radius: 3px;
	font-family: "OpenSans-regular";
	color: #C9BFBE;
	padding: 8px;
	margin-bottom: 15px;
	width: 80%;
	background: none;
	outline: none;
}

.form-content .btn {
	margin-left: calc(80% - 140px);
	border-radius: 3px;
	background: #DD2A4E;
}

.form-content .btn:hover {
	background: #00A155;
	transition: .2s all ease-in;
	cursor: pointer;
}

.contact-icon {
	float: right;
	width: 50%;
	margin-top: 70px;
	padding-top: 10%;
	text-align: center;
}

.contact-icon img {
	width: 30%;
	margin: 0 auto;
}

.contact-icon p {
	color: #C9BFBE;
	letter-spacing: 1px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	margin: 20px auto 0 auto;
	width: 400px;
}

.contact-icon p:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 20px;
	background: #00A155;
	margin-right: 5px;
	margin-bottom: -3px;
}

/* Fim do Contato */

/* Footer */

footer {
	background: #00A155;
	padding: 40px 0 20px 0;
	color: #C9BFBE;
}

footer h4 {
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 24px;
}

footer h4:after {
	content: '';
	display: block;
	width: 50px;
	height: 4px;
	background: #C9BFBE;
	margin: 5px 0 15px 0;
}

.operation {
	float: left;
	width: 30%;
	margin-right: 5%;
}

.operation p {
	display: block;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

.operation span {
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 24px;
}

.minimap {
	float: left;
	width: 30%;
	margin-right: 5%;
}

.minimap ul li a {
	color: #C9BFBE;
	letter-spacing: 1px;
	line-height: 24px;
}

.minimap ul li a:hover {
	color: #0E794E;
	transition: .2s all ease-in;
}

.social {
	float: left;
	width: 30%;
}

.social ul li {
	display: inline-block;
	margin-right: 8px;
}

.social ul li img {
	width: 40px;
	height: 40px;
}

.social ul li:hover {
	transform: scale(1.2);
	transition: .2s all ease-in;
}

/* Fim do Footer */

/* Copy */

.copy {
	background: #DD2A4E;
	padding: 5px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFF;
	font-family: "OpenSansCondensed-bold";
	font-size: .9rem;
}

/* Fim do Copy */

/* Responsivo */

@media only screen and (min-width: 359px) and (max-width: 767px) {

	/* Estilos Gerais Mobile */
	body {
		overflow-x: hidden;
	}

	.container {
		max-width: 100%;
		padding: 0 20px;
	}

	/* Fim Estilos Gerais Mobile */

	/* Header Mobile */
	.menu-logo {
		margin: 0 auto;
	}

	.menu-logo img {
		width: 60px;
	}

	.menu-logo h1 img {
		width: 150px;
	}

	label[for="menu-mobile"] {
		display: block;
	}

	.nav-bar {
		position: absolute;
		top: 80px;
		right: -100%;
		border: none;
		width: 250px;
		height: auto;
	}

	#menu-mobile:checked+.nav-bar {
		right: 0;
		transition: .2s all ease-out;
	}

	.nav-bar ul {
		padding: 0;
		text-align: center;
		background: #1B1B1B;
	}

	.nav-bar ul li {
		display: block;
		width: 100%;
		margin-top: 0;
		padding: 10px;
		color: #FFF;
		border-bottom: 1px solid #FFF;
	}

	.nav-bar ul li:hover {
		background: #00A155;
	}

	.nav-bar ul li a {
		color: #FFF;
		font-size: 1rem;
		padding: 0;
	}

	.nav-bar ul li a:hover {
		background: none;
	}

	header.bg {
		height: 100vh;
	}

	.intro {
		width: 100%;
		margin-top: 0;
		text-align: center;
	}

	.intro h1 {
		max-width: 85%;
		margin: 100px auto 0 auto;
		font-size: 2rem;
	}

	.intro h1:before,
	.intro h1:after {
		content: '';
		display: block;
		width: 70px;
		height: 4px;
		background: #1B1B1B;
		margin: 10px auto;
	}

	.intro .btn {
		margin: 60px auto;
	}

	/* Fim do Header Mobile */

	/* Início do Sobre */

	.ilustration {
		width: 70%;
		float: none;
		margin: 60px auto;
		text-align: unset;
	}

	.content {
		float: none;
		width: 100%;
	}

	.content .btn.btn-yellow {
		margin-left: auto;
		margin-right: auto;
	}

	/* Fim do Sobre Responsivo */

	/* Início Contato Mobile */

	.contact-us {
		padding: 60px 0 20px 0;
	}

	.contact-icon {
		float: none;
		width: 100%;
		margin-top: 50px;
	}

	.contact-icon p {
		width: 250px;
	}

	.form-content {
		width: 100%;
		float: none;
	}

	.form-content input {
		width: 100%;
	}

	.form-content textarea {
		width: 100%;
	}

	.form-content .btn {
		margin: 40px auto;
	}

	.grid {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	/* Fim do Contato Mobile */

	/* Footer */

	.operation {
		width: 40%;
		margin-right: 40px;
		margin-bottom: 30px;
	}

	.operation p {
		margin-bottom: 10px;
	}

	.minimap {
		width: 40%;
		padding-top: 24px;
	}

	.social {
		float: none;
		width: 100%;
		clear: both;
		text-align: center;
		margin-bottom: 20px;
	}

	.social h4 {
		display: none;
	}

	/* Fim do Footer para Mobile */
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

	/* Estilos Gerais para Tablets */

	.container {
		max-width: 90%;
	}

	/* Fim */

	/* Header */

	.menu-logo a img {
		width: 70px;
	}

	.menu-logo h1 img {
		width: 170px;
	}

	/* Fim */

	/* Contato */

	.contact-icon {
		width: 45%;
	}

	.contact-icon p {
		width: 250px;
	}

	.form-content {
		width: 50%;
	}

	.form-content input {
		width: 100%;
	}

	.form-content textarea {
		width: 100%;
	}

	.form-content .btn {
		margin-left: calc(100% - 140px);
	}

	/* Fim */

}