/* ==========================================================================
   Reset
   ========================================================================== */

/**
 * Remove anchor tex-decoration
 */ 

a {
	text-decoration: none;
}

/**
 * Remove list-style
 */ 

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

/* Estilos Gerais */

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    width: 140px;
    height: 40px;
    border: 4px solid #2ecc71;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.25em;
    letter-spacing: 0.1em;
    transition: all .4s ease;
    outline: none;
}

.btn:hover {
    color: #2ecc71;
    border-color: #fff;
}

.btn-black {
    color: #2ecc71;
    padding: 7px 0;
    margin-bottom: 20px;
    background: none;
    cursor: pointer;
}

.btn-black:hover {
    color: #000;
    border-color: #000;
}

.subtitle {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0;
}

.subtitle::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 0px auto 60px auto;
}

/*
.sub-yellow {
    margin: 0px;
    color: #fec63e;
}

.sub-yellow::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #fec63e;
    margin: 0px auto 60px auto;
}
*/

* {
    box-sizing: border-box;
}

/* Header */

.menu-bg {
    background: #2ecc71;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.menu a {
    color: #222222;
    font-weight: bold;
}

.menu-logo a {
    display: block;
    border: 5px solid black;
    margin: 0px 10px;
    padding: 5px 10px;
    font-size: 2em;
    font-weight: bold;
}

.menu-logo a:hover {
    color: white;
    border-color: white;
    transition: .4s;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: inline-block;
    padding: 5px 10px;
    border-bottom: 4px solid transparent;
}

.menu-nav a:hover {
    color: #fff;
    border-bottom: 4px solid white;
    transition: border-bottom .1s, color .4s;
}

/* Introdução */

.intro-bg {
    width: 100%;
    height: 460px;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 120px;
}

.intro h1 {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.intro h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 10px auto 60px auto;
}

/* Registro */

.register {
    max-width: 960px;
    margin: 0 auto;
}

.register table {
    max-width: 960px;
}

.register-form label {
    display: block;
    color: #000;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 auto 5px 0;
}

.register-form input {
    display: block;
    width: 960px;
    margin-bottom: 20px;
    border: 4px solid #2ecc71;
    background: none;
    color: #000;
    padding: 7px 10px;
    outline: none;
    font-size: 1em;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
}

label.validation-error {
    margin-left: 5px;
    color: red;
}

label.hide {
    display: none;
}

